<div class="chat-body">
    <div class="chat-title">
       <!---<h4><u>Chat Title</u></h4>-->
    </div>
    <div class="chat-container">
        <div class="chat-users-container">
            <app-chat-users></app-chat-users>
        </div>
        <div class="chat-messages-container">
            <div class="chat-messages">
                <app-chat-messages></app-chat-messages>
            </div>
            <div class="chat-send">
                <app-chat-send></app-chat-send>
            </div>
        </div>
    </div>

</div>