<div class="chat-body">
   <!-- <div class="chat-title">
       <h2><i>chattr </i></h2>
       <fa-icon style="margin: 7px; font-size: x-large;"[icon]="chattrIcon"></fa-icon>
    </div>-->
    <div class="chat-container chat-container-sizing">
        <!--<div class="chat-users-container">
            <app-chat-users></app-chat-users>
        </div>-->
        <div class="chat-messages-container">
            <div class="chat-messages">
                <app-chat-messages></app-chat-messages>
            </div>
            <div class="chat-send">
                <app-chat-send></app-chat-send>
            </div>
        </div>
    </div>

</div>