<div class="chat-body load-animation">
    <div class="chattr-logo">
        <img src="../../../assets/images/chattr.png" alt="chattr logo">
    </div>
    <div class="chat-container chat-container-sizing">
        <!--<div class="chat-users-container">
            <app-chat-users></app-chat-users>
        </div>-->
        <div class="chat-messages-container">
            <div class="chat-messages">
                <app-chat-messages></app-chat-messages>
            </div>
            <div class="chat-send">
                <app-chat-send></app-chat-send>
            </div>
        </div>
    </div>
    <div class="chat-logout">
        <app-logout></app-logout>
    </div>

</div>