.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-logo img{
    width: 270px;
}
    

