.chat-users-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.user-connected{
    color:green
}
.user *{
    box-sizing: border-box;
    padding-left: 10px;
}