<div #login class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="error" *ngIf="loginResult && loginError"  id="error">
            <fa-icon [icon]="errorIcon"></fa-icon>
            <p>Invalid username or password</p>
        </div>
        <div class="login-info">
            <!--<label for="username">Username</label>-->
            <input placeholder="Username" type="text" formControlName="username" autocomplete="off">
        </div>
        <div class="login-info">
           <!-- <label for="password">Password</label>-->
            <input placeholder="Password" type="password" formControlName="password" autocomplete="off">
        </div>
        <div class="login-button">
            <button [ngClass]="{'shake': loginError}" [disabled]="!loginForm.valid" class="btn btn-primary">Log In</button>
        </div>
    </form>
</div>